.about-us {
  @include container; 
  
    padding-bottom: 94px;
  }
  .about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 50px;
    text-align: center;
  }
  .about {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .about__list {
    width: 370px;
    margin-right: 30px;
  }
  .about__list:nth-child(3n) {
    margin-right: 0;
  }
  .about__wrapper {
    position: relative;
  }
  .about__overlay-box {
    position: absolute;
    bottom: 0;
    left: calc(50% - 185px);
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
  }
  .about__overlay-text {
    text-align: center;
    margin: 27px auto;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }