.our-clients {
  @include container;
  
  padding: 60px 0 0;
    // padding-top: 94px;
    // padding-bottom: 94px;
  }
  .clients-title {
    margin-bottom: 50px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .clients {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // gap: 30px;
    @media scree and (min-width: 480px) {
      flex-wrap: wrap;
      display: flex;
      gap: 30px;
    }
  }
  .clients__item {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 170px;
    // height: 92px;
    @media scree and (min-width: 480px) {
      flex-wrap: wrap;
      display: flex;
      gap: 30px;
      width: 210px;
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
   
  }
}
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: #2196f3;
      border: 1px solid #2196f3;
    }
  }
 
  