.comand-container {
  @include container;
  
    display: block;
  }
  .comand {
    background: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-title-comand {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: center;
  }
  .comand-list-box {
    display: flex;
  }
  .comand-block {
    padding: 30px 0;
  }
  .comand-title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
  .comand-list-item {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #757575;
  }
  .comand-list {
    margin-right: 30px;
    width: 270px;
    background: var(--general-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:nth-child(4n) {
        margin-right: 0;
      }
  }
 
  .socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    border-radius: 50%;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #2196f3;
      fill: #ffffff;
    }
  }
 
  .socials-icon {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }