.list-our {
  // @include container;  
  
        padding: 60px 0 0;
    
        @media screen and (min-width: 768px) {
          
          &__item {
            flex-basis: calc((100% - 30px) / 2);
          }
        }
    
        @media screen and (min-width: 1200px) {
          
          padding: 94 0 0;
          display: flex;
    
          &__item {
            flex-basis: calc((100% - 90px) / 4);
          }
      }
  }

  .feature {
    @media screen and (min-width: 768px) {

    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
}
    @media screen and (min-width: 1200px) {
      display: flex;
     flex-wrap: nowrap;}   
    }  

  .feature__our {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  .feature__title {
 
    text-align: center;

    @media screen and (min-width: 480px) {
      text-align: center;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
    }
    @media screen and (min-width: 768px) {
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
    
  }
  .feature__text {
   
    line-height: calc(24 / 14);
    font-weight: 400;
    color: #757575;
  }