.logo {
    display: block;
    margin-right: 93px;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
  }
  .first-part,
  .site-nav {
    color: var(--brand-color);
  }
  .last-part {
    color: #000000;
  }