.header-nav {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
.site-nav-list {
    display: flex;
    align-items: center;
    margin-right: 318px;
  }
  
.header-nav-item:not(:last-child) {
    margin-right: 50px;
  }
 
.header-nav-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: inline-block;
    padding: 32px 0;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--brand-color);
    }

    &.current {
        color: var(--brand-color);
      }

    &.current::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: #2196f3;
      }
  }