.portfolio {
  @include container;
  
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .button-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .list-btn {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: #f5f4fa;
  
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  }
  .filtr-btn:not(:last-child) {
    margin-right: 8px;
  }
  